---
import Layout from '../layouts/Layout.astro';
import README from '../components/README.astro';
import Contributions from '../components/Contributions.astro';
---

<Layout>
	<div>
		<README />
		<Contributions />
	</div>
</Layout>
